body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    background: url(../images/oriental.png);
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2.5fr 4fr .75fr .75fr .75fr;
    grid-column-gap: 5px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    position: fixed;
    top: 0px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 1fr 1fr;
    /* height: 495px; */
    width: 825px;
    border: 3px solid gray;
    margin: auto;
    margin-top: 90px;
    padding: 15px;
}

#name {
    background-color: #4aaaa5;
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin: auto;
    text-align: center;
}

#about {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    margin: auto;
}

#portfolio {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    margin: auto;
}

#contact {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
    margin: auto;
}

#aboutmetitle {
    color: #4aaaa5;
    grid-column: 1 /span 3;
    grid-row: 1 / span 1;
    margin-left: 20px;
    margin-top: 15px;
    text-align: left
}
#horizontalline {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    padding: 0px 15px 0px 15px;
}

#aboutmepic {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
}

#mypicture {
    height: 250px;
    width: 250px;
}

#aboutmeparagraph1 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
}

#aboutmeparagraph2 {
    grid-column: 1 / span 3;
    grid-row: 4 span 1;
}


#contactform {}

#portfoliobody {}

footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: darkslategray;
    width: 100%;
}