body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
}

header {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr;
    grid-template-columns: background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 1000px;
    width: 1000px;
    border: 3px solid gray;
    margin: auto;
}

#name {
    background-color: #4aaaa5;
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#about {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

#portfolio {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}

#contact {
    color: #ffffff;
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}

#aboutmetitle {
    color: #4aaaa5;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
}
#horizontalline {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

#aboutmepic {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

#aboutmeparagraph1 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#aboutmeparagraph2 {
    grid-column: 1 / span 2;
    grid-row: 4 span 1;
}

#aboutmeparagraph3 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
}

#contactform {}

#portfoliobody {}