body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
header {
    background-color: #ffffff;

}
#name {
    background-color: #4aaaa5;

}
#about {

}
#portfolio {

}
#contact {

}
#aboutmetitle {

}
#aboutmepic {

}
#aboutmeparagraph {

}
#contactform {

}
#portfoliobody {

}